/* Place CSS styles here */
body {
    background-color: rgb(168, 197, 210);
}

img {
    width: 250px;
    margin-right: 16px;
    border: 3px groove #16225b;
}

.john-pork.jpg {
     width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    h1{
        font-size: larger;
    }
    p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
}
p{text-align: center;}