/* Place CSS styles here */
body {
    background-color: rgb(168, 197, 210);
}

img {
    width: 250px;
    margin-right: 16px;
    border: 3px groove #e7e9f0;
}

.john-pork.jpg {
     width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
        h1{
        font-size: larger;
    }
    p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
}
p{text-align: center;}

.wrapper{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

h1{
    border: 10px #dc83b6;
    padding-top: 10px;
}

div {
    background-color: rgb(120, 221, 221);
    text-align: center;
    padding: 50px;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
    border: 3px solid #f6ecec;
    border-radius: 20px;
}
